{{ 'textwithbackground.css' | asset_url | stylesheet_tag }}

<section>
        <div class="textandbackgroundwrap" style="background-image: url({{ section.settings.image | img_url: 'master'}});">
            <div class="textandbackgroundHeading">
                    {% if section.settings.heading != blank %}
                        <h2>{{section.settings.heading}}</h2>
                    {% endif %}
                    {% if section.settings.subheading != blank %}
                        <p>{{section.settings.subheading}}</p>
                    {% endif %}
                    {% if section.settings.btn-text != blank %}
                        <a href="{{section.settings.btn-url}}" class="globalButton">{{section.settings.btn-text}}</a>
                    {% endif %}

            </div>
            <div class="emptySec">
                <input type="hidden" name="">
            </div>
        </div>
</section>

<style>
    {%- if section.settings.alignment == 'right' -%}
        .textandbackgroundHeading {
            order: 2;
        }
        .emptySec{
            order: 1;
        }
    {%- endif -%}
</style>



{% schema %}
    {
        "name": "Text with backgound Image",
        "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Image"
            },
            {
                "type": "text",
                "id": "heading",
                "label": "Heading"
            },
            {
              "type": "text",
              "id": "subheading",
              "label": "Sub Heading"
            },
            {
              "type": "text",
              "id": "btn-text",
              "label": "Button Text"
            },
            {
              "type": "url",
              "id": "btn-url",
              "label": "Button URL"
            },
            {
              "type": "radio",
              "id": "alignment",
              "label": "Text Position",
              "options": [
                {
                  "value": "left",
                  "label": "Left"
                },
                {
                  "value": "right",
                  "label": "Right"
                }
                
              ]
            }
        ],
        "presets": [
            {
                "name": "Text with backgound Image"
            }
        ]
    }
    {% endschema %}